extends index.pug

block content
    main
        h1.main__title This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        a.main__button(href="/addStudent") Add student
            span &#8663;